.ez5-detail-map-plugin-fullscreen {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ez5-detail-map-plugin-zoom-buttons {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: block;
  margin-top: 10px;

  .cui-buttonbar-group:first-child {
    position: absolute;
    margin-left: 10px;
  }

  .cui-buttonbar-group:last-child {
    position: absolute;
    right: 10px;
  }
}

.ez5-detail-map-plugin {
  height: 100%
}

.ez5-map-marker {
  background: white;
  padding: 3px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 1px 5px hsla(0,0%,0%,.2);
  
  &-image {
    vertical-align: bottom;
    border-radius: 1px;
    // width comes via html
    height: auto;
  }

  &-pointer {
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -9px;
    width: 18px;
    height: 14px;
    overflow: hidden;
    
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      background: white;
      left: 50%;
      top: -7px;
      margin-left: -6px;
      transform: rotate(45deg);
      box-shadow: 0 0 5px hsla(0,0%,0%,.2);
    }
  }
}